:root {
	--state-color: #333333;
	--white: #FFF;
	--dark: #101010;
	--secondary-color: #E50140;
	--gray-color: #888;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html,
body {
	min-height: 100%;
}

.login-box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	height: 100%;
	position: relative;
	/* background-image: url("./bg.jpg"); */
	background-size: cover;
	background-position: center;
}

.login-bg {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.login-bg .login-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.login-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 500px;
	border: 5px solid var(--state-color);
	background-color: transparent;
	border-radius: 10px;
	margin: 10px;
	padding: 2rem;

	transition: border 0.3s ease-in-out;
}

.login-wrapper:hover {
	border: 5px solid var(--secondary-color);
	box-shadow: 0px 0px 2px var(--secondary-color), inset 0px 0px 20px var(--secondary-color);
	backdrop-filter: blur(5px);
}

.login-wrapper:hover .login-title {
	color: var(--secondary-color);
}

.login-wrapper:hover .login-form .input-label {
	color: var(--secondary-color);
}

.login-wrapper:hover .login-form #input {
	border: 2px solid var(--secondary-color);
}

.login-wrapper:hover .login-form .login-link {
	background-color: var(--secondary-color);
}



.login-wrapper .login-title {
	font-size: 35px;
	color: var(--white);
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: 3px 4px 0px var(--dark);
	width: 100%;

	transition: color 0.3s ease-in-out;
}

.login-wrapper .login-form {
	width: 100%;
}

.login-wrapper .login-form .input-box {
	margin-top: 15px;
}

.login-wrapper .login-form .input-label {
	position: relative;
	color: var(--white);
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 14px;
	transition: color 0.2s ease-in-out;
}

.login-wrapper .login-form .input-wrapper {
	margin-top: 6px;
}

.login-wrapper .login-form #input {}

#input {
	appearance: none;
	width: 100%;
	padding: 10px;
	border: 2px solid var(--state-color);
	background-color: transparent;
	color: var(--gray-color);
	outline: none;
	border-radius: 4px;
	transition: border 0.2s ease-in-out;
}

#input::placeholder {
	color: var(--gray-color);
}

#input:focus-visible {
	color: var(--secondary-color);
}

.login-wrapper .login-form .login-link {
	cursor: pointer;
	width: 100%;
	padding: 10px 0;
	border: 0;
	margin-top: 2rem;
	background-color: var(--state-color);
	color: var(--white);
	border-radius: 4px;
	transition: background-color 0.2s ease-in-out;
}